/node_modules
/vendor
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/*
!/storage/framework/.gitignore
/public/storage
/public/build
/public/hot
.env.*
!.env.example
.phpunit.result.cache
/.phpunit.cache
npm-debug.log
yarn-error.log
Homestead.yaml
Homestead.json
/.idea
/.vscode
/.nova
/.zed
/.phpactor.json
/.fleet
/auth.json
/database/*.sqlite*
/dist